﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PRN231_Web_Razor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PRN231_Web_Razor.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
          rel="stylesheet">
</head>
<body>
    <!-- header -->
	<header id="site-header" class="w3l-header fixed-top">
		<!--/nav-->
		<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
			<div class="container">
				<h1><a class="navbar-brand" asp-page="/Index"><span class="fa fa-play icon-log"
							aria-hidden="true"></span>
							MyShowz </a></h1>
				<!-- if logo is image enable this   
							<a class="navbar-brand" href="#index.html">
								<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
							</a> -->
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<!-- <span class="navbar-toggler-icon"></span> -->
					<span class="fa icon-expand fa-bars"></span>
					<span class="fa icon-close fa-times"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
                            <a class="nav-link" asp-page="/Index">Home</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" asp-page="/Movie">Movies</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-page="/About">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-page="/Contact">Contact</a>
						</li>
					</ul>

					<!--/search-right-->
					<!--/search-right-->
					<div class="search-right">
						<a href="#search" class="btn search-hny mr-lg-3 mt-lg-0 mt-4" title="search">Search <span
								class="fa fa-search ml-3" aria-hidden="true"></span></a>
						<!-- search popup -->
						<div id="search" class="pop-overlay">
							<div class="popup">
								<form action="#" method="post" class="search-box">
									<input type="search" placeholder="Search your Keyword" name="search"
										required="required" autofocus="">
									<button type="submit" class="btn"><span class="fa fa-search"
											aria-hidden="true"></span></button>
								</form>
								<div class="browse-items">
									<h3 class="hny-title two mt-md-5 mt-4">Browse all:</h3>
									<ul class="search-items">
										<li><a asp-page="/Movie">Action</a></li>
										<li><a asp-page="/Movie">Drama</a></li>
										<li><a asp-page="/Movie">Family</a></li>
										<li><a asp-page="/Movie">Thriller</a></li>
										<li><a asp-page="/Movie">Commedy</a></li>
										<li><a asp-page="/Movie">Romantic</a></li>
										<li><a asp-page="/Movie">Tv-Series</a></li>
										<li><a asp-page="/Movie">Horror</a></li>
										<li><a asp-page="/Movie">Action</a></li>
										<li><a asp-page="/Movie">Drama</a></li>
										<li><a asp-page="/Movie">Family</a></li>
										<li><a asp-page="/Movie">Thriller</a></li>
										<li><a asp-page="/Movie">Commedy</a></li>
										<li><a asp-page="/Movie">Romantic</a></li>
										<li><a asp-page="/Movie">Tv-Series</a></li>
										<li><a asp-page="/Movie">Horror</a></li>
									</ul>
								</div>
							</div>
							<a class="close" href="#close">×</a>
						</div>
						<!-- /search popup -->
						<!--/search-right-->
					</div>
					<div class="Login_SignUp" id="login"
						style="font-size: 2rem ; display: inline-block; position: relative;">
						<!-- <li class="nav-item"> -->
						<a class="nav-link" asp-page="Login"><i class="fa fa-user-circle-o"></i></a>
						<!-- </li> -->
					</div>

				</div>
				<!-- toggle switch for light and dark theme -->
				<div class="mobile-position">
					<nav class="navigation">
						<div class="theme-switch-wrapper">
							<label class="theme-switch" for="checkbox">
								<input type="checkbox" id="checkbox">
								<div class="mode-container">
									<i class="gg-sun"></i>
									<i class="gg-moon"></i>
								</div>
							</label>
						</div>
					</nav>
				</div>
			</div>
		</nav>
	</header>

	@RenderBody()
	 @* footer *@
	
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>